<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>

.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .this {
  background-color: #4CAF50;
}

body {background-color: white;}
</style>
</head>
<body>

  <div class="topnav">
    <a href="http://10.3.93.57/lampy/" class="this">Home</a>
    <a href="http://10.3.93.57/lampy/Any">Anyone</a>
    <a href="http://10.3.93.57/lampy/Comm">League Commissioner</a>
    <a href="http://10.3.93.57/lampy/Coor">Event Coordinator</a>
    <a href="http://10.3.93.57/lampy/GM">General Manager</a>
    <a href="http://10.3.93.57/lampy/MOC">Master Of Ceremonies</a>
    <a href="http://10.3.93.57/lampy/Owner">Team Owner</a>
  </div>

<h1>Anyone</h1>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Procedure
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="http://10.3.93.57/lampy/Any/view_award_winner_by_season">View Award Winner by Season</a></li>
      <li><a href="http://10.3.93.57/lampy/Any/view_award_winner_by_season_and_team">View Award Winner by Season and Team</a></li>
      <li><a href="http://10.3.93.57/lampy/Any/view_award_winner_by_league">View Award Winner by League</a></li>
      <li><a href="http://10.3.93.57/lampy/Any/view_player_stats_by_season">View Player Stats by Season</a></li>
      <li><a href="http://10.3.93.57/lampy/Any/view_player_stats_by_player">View Player Stats by Player</a></li>
      <li><a href="http://10.3.93.57/lampy/Any/view_salary_by_season">View Salary by Season</a></li>
      <li><a href="http://10.3.93.57/lampy/Any/view_salary_by_person">View Salary by Person</a></li>
      <li><a href="http://10.3.93.57/lampy/Any/view_league_champ_by_season">View League Champ by Season</a></li>
      <li><a href="http://10.3.93.57/lampy/Any/view_stadium_by_team">View Stadium by Team</a></li>
      <li><a href="http://10.3.93.57/lampy/Any/view_event_winner_by_season">View Event Winner by Season</a></li>
      <li><a href="http://10.3.93.57/lampy/Any/view_event_winner_by_season_and_team">View Event Winner by Season and Team</a></li>
      <li><a href="http://10.3.93.57/lampy/Any/view_coaches_by_season_and_team">View Coaches by Season and Team</a></li>
    </ul>
  </div>
</body>
</html>

