<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
.button {
  position: absolute;
  top: 4%;
  left: 90%;
}

.header {
  text-align: center;
}

</style>

<body>
  <H1 class="header">Enter your details</H1> <br>
  <button onclick="window.location.href='http://10.3.93.57/lampy/';" class="button">Back Home</button>
  <div>
  <form method="POST" action="">
      <center>
      Player ID <input type = "text" name = "playerID" /> <br>
      Year Group <input type = "text" name= "yearGroup" /> <br>
      Points Per Game <input type = "text" name = "pointsPerGame" /> <br>
      Assists Per Game <input type = "text" name= "assistsPerGame" /> <br>
      Field Goal Percentage <input type = "text" name = "fieldGoalPercentage" /> <br>
      Three Pointers Per Game <input type = "text" name = "threePointersPerGame" /> <br>
      Three Pointers Percentage <input type = "text" name= "threePointerPercentage" /> <br>
      Free Throws Percentage <input type = "text" name = "freeThrowsPercentage" /> <br>
      Offensive Rebounds Per Game <input type = "text" name= "offensiveReboundsPerGame" /> <br>
      Deffensive Rebounds Per Game <input type = "text" name = "defensiveReboundsPerGame" /> <br>
      Turnovers Per Game <input type = "text" name = "turnoversPerGame" /> <br>
      Blocks Per Game <input type = "text" name= "blocksPerGame" /> <br>
      Steals Per Game <input type = "text" name = "stealsPerGame" /> <br>
      <input type = "submit">
      </center>
  </form>
  </div>
</body>
</html>

