<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
.button {
  position: absolute;
  top: 4%;
  left: 90%;
}

.header {
  text-align: center;
}

</style>

<body>
  <H1 class="header">Enter your details</H1> <br>
  <button onclick="window.location.href='http://10.3.93.57/lampy/';" class="button">Back Home</button>
  <div>
  <form method="POST" action="">
      <center>
      Award ID <input type = "text" name = "awardID" /> <br>
      Award Name <input type = "text" name = "awardName" /> <br>
      Times Given <input type = "text" name= "timesGiven" /> <br>
      <input type = "submit">
      </center>
  </form>
  </div>
</body>
</html>

